api_domain_name           = "api.example.com"
hosted_zone_name          = "example.com"
apex_domain_name          = "example.com"
cloudfront_domain_name    = "example.cloudfront.net"
cloudfront_hosted_zone_id = ""
